<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbp.spring.boot.mybatis.template.mapper.UserEntityMapper">
  <resultMap id="BaseResultMap" type="com.tbp.spring.boot.mybatis.template.entity.UserEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="ref_shop_id" jdbcType="INTEGER" property="refShopId" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
  </resultMap>
</mapper>